* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/*--        header                   --*/
.header {
    padding: 0;
}

.color {
    background-color: rgb(102, 62, 140);
}

/*--       gato header icono         --*/
.imagen-gato-header img {
    width: 95px;
    object-fit: contain;
    transition: all 0.4s;
}

.icon-gato:hover {
    transform: scale(1.1);
}

/*--         navbar           --*/
.navbar {
    background-color: rgba(86, 86, 180, 0.801);
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-ul li a {
    font-family: 'Bungee', cursive;
    text-decoration: none;
    color: white;
}

.navbar-ul li a:hover {
    color: rgb(208, 230, 17);
    transition: all 1s;
}

/*--           footer general            --*/
footer {
    background-color: black;
    height: 7.3vh;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.footer-ul li {
    display: inline-block;
    padding: 0px 30px 0 50px;
}

.footer-ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Bungee', cursive;
}

.footer-ul li a:hover {
    color: rgb(208, 230, 17);
    transition: all 1s;
}

/*--       responsive de footer celular chico        --*/
@media screen and (min-width:320px) {
    footer {
        font-size: 10px;
        height: 6.1vh;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-ul li {
        padding: 20px 0px 0px 10px;
    }
}

/*--       responsive de footer celular grande        --*/
@media screen and (min-width:600px) {
    footer {
        font-size: 0.7rem;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }

    footer ul li a {
        padding: 5px;
    }
}

@media screen and (min-width:1204px) {
    footer {
        font-size: 0.8rem;
    }
}

/*--          index.html        --*/
.contenedor-index {
    display: grid;
    grid-template-columns: 2.4fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.logotipo-index {
    display: flex;
    justify-content: end;
    align-items: center;
}

.logotipo-index img {
    width: 250px;
    height: 250px;
}

.titulo-index {
    font-size: 6rem;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boton-der-index {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
}

.boton-der-index img {
    width: 150px;
    height: 150px;
}

/*--       responsive de index.html celular chico        --*/
@media screen and (min-width:320px) {
    .contenedor-index {
        height: 81.6vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;
    }

    .titulo-index {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-index h1 {
        font-size: 2.5rem;
    }

    .logotipo-index img {
        width: 120px;
        height: 120px;
    }

    .logotipo-index {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .boton-der-index {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 2%;
    }

    .boton-der-index img {
        width: 70px;
        height: 70px;
    }
}

/*--       responsive de index.html celular grande        --*/
@media screen and (min-width:600px) {
    .titulo-index h1 {
        font-size: 3rem;
    }
}

/*--       responsive de index.html desktop        --*/
@media screen and (min-width:1140px) {
    .contenedor-index {
        height: 79.7vh;
        display: grid;
        grid-template-columns: 2.4fr 3fr 1fr;
        grid-template-rows: 1fr;
    }

    .titulo-index {
        display: flex;
        justify-content: flex-start;
    }

    .logotipo-index {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (min-width:1204px) {
    .contenedor-index {
        height: 80.6vh;
    }

    .titulo-index h1 {
        font-size: 5rem;
    }

    .logotipo-index img {
        width: 150px;
        height: 150px;
    }

    .boton-der-index img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width:1680px) {
    .contenedor-index {
        height: 84.1vh;
    }

    .titulo-index h1 {
        font-size: 6rem;
    }

    .logotipo-index img {
        width: 200px;
        height: 200px;
    }

    .boton-der-index img {
        width: 120px;
        height: 120px;
    }
}

/*--      quiensoy.html     --*/
.contenedor-quiensoy {
    height: 82.1vh;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2.5fr 1fr;
    grid-template-rows: 2fr repeat(3, 1.5fr);
    row-gap: 20px;
}

/*--      main quiensoy.html      --*/
.foto-mia {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-mia img {
    width: 250px;
    height: 300px;
    object-fit: contain;
    border-radius: 100px;
    border-left: 3px groove rgba(127, 255, 212, 0.521);
}

.titulo-quiensoy {
    background-color: rgb(0, 0, 0);
    grid-column: 3/4;
    grid-row: 1/3;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    color: white;
    border: 30px groove rgba(127, 255, 212, 0.521);
    border-radius: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-youtube-cancion {
    grid-column: 4/5;
    grid-row: 1/3;
}

.video-youtube-cancion iframe {
    height: 350px;
    width: 400px;
    border-radius: 100px;
    border: 15px groove rgba(127, 255, 212, 0.521);
    background-color: black;
}

.video-youtube-anime {
    grid-column: 2/3;
    grid-row: 3/5;
}

.video-youtube-anime iframe {
    height: 350px;
    width: 390px;
    border-radius: 100px;
    border: 15px groove rgba(127, 255, 212, 0.521);
    background-color: black;
}

.dibujos {
    grid-column: 3/4;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dibujo-rengoku img {
    width: 270px;
    height: 285px;
    border-radius: 100px;
    border: 15px groove rgba(127, 255, 212, 0.521);
    background-color: black;
}

.dibujo-rengoku {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dibujo-ww {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dibujo-ww img {
    height: 270px;
    width: 360px;
    border-radius: 100px;
    border: 15px groove rgba(127, 255, 212, 0.521);
    background-color: black;
}

.texto-1-quiensoy {
    font-size: 13px;
    font-family: 'Lemonada', cursive;
    color: white;
    border-radius: 10px;
    border: 10px groove rgba(127, 255, 212, 0.521);
    background-color: black;
    text-align: center;
}

.texto-2-quiensoy {
    font-size: 13px;
    font-family: 'Lemonada', cursive;
    color: white;
    border-radius: 10px;
    border: 10px groove rgba(127, 255, 212, 0.521);
    background-color: black;
    text-align: center;
}

/*--    botones entre paginas    --*/
.boton-iz-quiensoy {
    grid-column: 1/2;
    grid-row: 1/5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5%;
}

.boton-iz-quiensoy img {
    width: 100px;
    height: 100px;
}

.boton-der-quiensoy {
    grid-column: 5/6;
    grid-row: 1/5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5%;
}

.boton-der-quiensoy img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width:320px) {
    .contenedor-quiensoy {
        height: 300vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.6fr 0.5fr 0.3fr 0.3fr 1fr 0.7fr 0.5fr;
    }

    .foto-mia {
        grid-row: 1/2;
        grid-column: 1/2;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto-mia img {
        background-color: rgb(204, 202, 182);
        width: 150px;
        height: 150px;
        border-radius: 100px;
        border: 15px groove rgba(127, 255, 212, 0.521);
        box-shadow: 20px 20px rgba(0, 0, 0, 0.336);
    }

    .titulo-quiensoy {
        grid-row: 2/3;
        grid-column: 1/2;
        border: 30px groove rgba(127, 255, 212, 0.521);
        box-shadow: 20px 20px rgba(0, 0, 0, 0.336);
    }

    .titulo-quiensoy h1 {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
    }

    .video-youtube-cancion {
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-youtube-cancion iframe {
        height: 250px;
        width: 310px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
    }

    .video-youtube-anime {
        grid-row: 7/8;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-youtube-anime iframe {
        height: 350px;
        width: 320px;
        box-shadow: 30px 45px rgba(0, 0, 0, 0.336);
    }

    .dibujos {
        grid-row: 6/7;
        grid-column: 1/2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dibujo-rengoku img {
        width: 270px;
        height: 285px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
    }

    .dibujo-ww img {
        width: 260px;
        height: 205px;
        border-radius: 100px;
        border: 10px groove rgba(127, 255, 212, 0.521);
        box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
    }

    .texto-1-quiensoy {
        font-size: 13px;
        grid-column: 1/2;
        grid-row: 3/4;
        box-shadow: 20px 20px rgba(0, 0, 0, 0.438);
    }

    .texto-2-quiensoy {
        font-size: 13px;
        grid-row: 5/6;
        grid-column: 1/2;
        box-shadow: 20px 20px rgba(0, 0, 0, 0.438);
    }

    /*--    botones entre paginas    --*/
    .boton-iz-quiensoy {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    .boton-iz-quiensoy img {
        width: 80px;
        height: 80px;
    }

    .boton-der-quiensoy {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    .boton-der-quiensoy img {
        width: 80px;
        height: 80px;
    }
}
@media screen and (min-width:550px) {
/*--      quiensoy.html     --*/
    .contenedor-quiensoy {
        height: 250vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.5fr repeat(5, 0.5fr) 0.1fr;
        row-gap: 20px;
    }
    
/*--      main quiensoy.html      --*/
    .foto-mia {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .foto-mia img {
        width: 200px;
        height: 200px;
    }
    .titulo-quiensoy {
        height: 350px;
        width: 320px;
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 15px;
    }
    .texto-1-quiensoy {
        height: 350px;
        width: 200px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .video-youtube-cancion {
        grid-column: 1/3;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video-youtube-cancion iframe {
        width: 400px;
        height: 300px;
    }
    .texto-2-quiensoy {
        grid-column: 2/3;
        grid-row: 4/5;
        height: 350px;
        width: 200px;
    }
    .dibujos {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .dibujo-rengoku img {
        width: 240px;
        height: 260px;
    }
    .dibujo-ww img {
        width: 260px;
        height: 200px;
    }
    .video-youtube-anime {
        grid-column: 1/3;
        grid-row: 6/7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video-youtube-anime iframe {
        width: 400px;
        height: 300px;
    }
/*--    botones entre paginas    --*/
    .boton-iz-quiensoy {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .boton-der-quiensoy {
        grid-column: 2/3;
        grid-row: 7/8;
    }
}
@media screen and (min-width:742px) {
    /*--      quiensoy.html     --*/
    .contenedor-quiensoy {
        height: 170vh;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 0.5fr repeat(2, 0.5fr) 0.1fr;
        row-gap: 20px;
    }

    /*--      main quiensoy.html      --*/
    .foto-mia {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto-mia img {
        width: 200px;
        height: 200px;
    }

    .titulo-quiensoy {
        height: 300px;
        width: 320px;
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-youtube-cancion {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-youtube-cancion iframe {
        width: 230px;
        height: 300px;
    }

    .texto-1-quiensoy {
        height: 350px;
        width: 200px;
        grid-column: 3/4;
        grid-row: 2/3;
        font-size: 10px;
    }

    .texto-2-quiensoy {
        grid-column: 3/4;
        grid-row: 3/4;
        height: 350px;
        width: 200px;
    }

    .video-youtube-anime {
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-youtube-anime iframe {
        width: 400px;
        height: 300px;
    }

    .dibujos {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .dibujo-rengoku img {
        width: 240px;
        height: 260px;
    }

    .dibujo-rengoku {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dibujo-ww {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dibujo-ww img {
        width: 260px;
        height: 200px;
    }

    /*--    botones entre paginas    --*/
    .boton-iz-quiensoy {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .boton-iz-quiensoy img {
        width: 100px;
        height: 100px;
    }

    .boton-der-quiensoy {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    .boton-der-quiensoy img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width:930px) {
    .video-youtube-cancion iframe {
        width: 410px;
        height: 300px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
    }

    .texto-1-quiensoy {
        height: 300px;
        width: 300px;
    }
    .texto-1-quiensoy p{
        font-size: 0.9rem;
    }

    .texto-2-quiensoy {
        height: 230px;
        width: 300px;
    }
    .texto-2-quiensoy p{
        font-size: 0.9rem;
    }
}

@media screen and (min-width:1000px) {
    .video-youtube-cancion iframe {
        width: 450px;
        height: 300px;
    }

    .titulo-quiensoy {
        width: 350px;
        height: 350px;
    }

    .titulo-quiensoy h1 {
        font-size: 1.6rem;
    }

    .texto-1-quiensoy {
        height: 250px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-2-quiensoy {
        height: 200px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:1300px) {
    .video-youtube-anime iframe {
        width: 450px;
        height: 300px;
    }
    .titulo-quiensoy {
        width: 450px;
        height: 360px;
    }
    .titulo-quiensoy h1{
        font-size: 2.2rem;
    }
    .dibujo-rengoku img {
        width: 260px;
        height: 300px;
    }
    .dibujo-ww img {
        width: 330px;
        height: 260px;
    }
}

@media screen and (min-width:1420px) {
    .contenedor-quiensoy {
        height: 81.6vh;
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr 0.2fr 1fr;
        grid-template-rows: 1.8fr 1.7fr 1.5fr;
    }

    /*--      main quiensoy.html      --*/
    .foto-mia {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .foto-mia img {
        width: 250px;
        height: 260px;
    }

    .titulo-quiensoy {
        width: 500px;
        height: 250px;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .video-youtube-cancion {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .video-youtube-cancion iframe {
        height: 250px;
        width: 340px;
    }

    .texto-1-quiensoy {
        font-size: 0.6rem;
        grid-column: 4/5;
        grid-row: 2/3;
        height: 150px;
        width: 340px;
    }

    .texto-2-quiensoy {
        grid-column: 4/5;
        grid-row: 3/4;
        height: 150px;
        width: 340px;
    }

    .video-youtube-anime {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .video-youtube-anime iframe {
        height: 300px;
        width: 340px;
    }

    .dibujos {
        grid-column: 3/4;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dibujo-ww img {
        height: 270px;
        width: 320px;
    }

    /*--    botones entre paginas    --*/
    .boton-iz-quiensoy {
        grid-column: 1/2;
        grid-row: 1/5;
    }
    .boton-iz-quiensoy img{
        width: 90px;
        height: 90px;
    }

    .boton-der-quiensoy {
        grid-column: 5/6;
        grid-row: 1/5;
    }
    .boton-der-quiensoy img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width:1600px) {
    .contenedor-quiensoy {
    height: 84vh;
    }
    .titulo-quiensoy {
        width: 500px;
        height: 350px;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .titulo-quiensoy h1{
        font-size: 2.5rem;
    }
    }

/*--      estudios.html      --*/
.contenedor-estudios {
    height: 82.1vh;
    display: grid;
    grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
}

.titulo-estudios {
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.subtitulo-1 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: 10px groove rgba(127, 255, 212, 0.521);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    color: white;
}

.subtitulo-2 {
    border: 10px groove rgba(127, 255, 212, 0.521);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;
    color: white;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.titulo-estudios h1 {
    border: 20px groove rgba(127, 255, 212, 0.521);
    border-radius: 50px;
}

.subtitulo-tabla-estudios {
    background-color: rgb(21, 57, 68);
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lemonada', cursive;
}

.lista-tabla-estudios {
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lista-1 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border: 10px groove rgba(127, 255, 212, 0.521);
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: 'Lemonada', cursive;
    padding: 10%;
}

.lista-2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: 10px groove rgba(127, 255, 212, 0.521);
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: 'Lemonada', cursive;
    padding: 10%;
}

.lista-tabla-estudios ul li {
    list-style-type: '😺';
}

.boton-iz-estudios {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5%;
}

.boton-iz-estudios img {
    width: 100px;
    height: 100px;
}

.boton-der-estudios {
    grid-column: 4/5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
}

.boton-der-estudios img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width:320px) {
/*--      estudios.html      --*/
    .contenedor-estudios {
        height: 120vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.1fr 0.3fr 1fr;
    }

    .titulo-estudios {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .titulo-estudios h1 {
        font-size: 1.2rem;
    }

    .subtitulo-1 h2 {
        font-size: 1.3rem;
    }

    .subtitulo-2 h2 {
        font-size: 1.3rem;
    }

    .subtitulo-tabla-estudios {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lista-tabla-estudios {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lista-1 {
        font-size: 0.6rem;
    }

    .lista-2 {
        font-size: 0.6rem;
        overflow: auto
    }

    .boton-iz-estudios {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .boton-iz-estudios img {
        width: 80px;
        height: 80px;
    }

    .boton-der-estudios {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .boton-der-estudios img {
        width: 80px;
        height: 80px;
    }
}
@media screen and (min-width:600px) {
    .titulo-estudios h1 {
        font-size: 1.8rem;
    }

    .lista-1 {
        font-size: 0.8rem;
    }

    .lista-2 {
        font-size: 0.8rem;
        overflow: auto
    }
}
@media screen and (min-width:1200px) {
    .contenedor-estudios {
        height: 81.6vh;
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: 0.7fr 0.3fr;
    }

    .titulo-estudios {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .titulo-estudios h1 {
        font-size: 2.2rem;
    }

    .subtitulo-tabla-estudios {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lista-tabla-estudios {
        height: 360px;
        grid-column: 2/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .boton-iz-estudios {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .boton-der-estudios {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
@media screen and (min-width:1600px) {
    .contenedor-estudios {
        height: 84vh;
        display: grid;
        grid-template-rows: 0.4fr 0.4fr;
    }
    .subtitulo-tabla-estudios h2{
        font-size: 1.5rem;
    }

    .lista-tabla-estudios {
        height: 400px;
    }
    .lista-tabla-estudios ul li{
        font-size: 1rem;
    }
    .lista-tabla-estudios p{
        font-size: 1rem;
    }
}

/*--       contacto.html      --*/
.contenedor-contacto {
    height: 83.9vh;
}

.contenedor-form {
    background: #3b3b3b65;
    border-radius: 15px;
    box-shadow: 60px 30px 5px 0px rgba(0, 0, 0, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-contacto {
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: white;
}

.nombres-de-formulario p {
    font-size: 2rem;
    color: white;
    font-family: 'Lemonada', cursive;
}

.nombres-de-formulario input {
    border: 5px rgb(190, 186, 186) solid;
    border-radius: 10px;
}

textarea {
    resize: none;
    border: 5px rgb(190, 186, 186) solid;
    border-radius: 10px;
}

.boton-iz-contacto {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3b3b3b;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0, 3s;
}

.button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px) skew(-20deg);
}

.button:hover::before {
    transform: translateX(300px) skew(-20deg);
}

.button:hover {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(133, 66, 79, 1) 100%);
}
@media screen and (min-width:320px) {
    .contenedor-contacto {
        height: 160vh;
    }
    .imagen-form img{
        width: 270px;
        height: 300px;
    }
    .titulo-contacto h1{
        font-size: 1.4rem;
    }
    .nombres-de-formulario p{
        font-size: 1rem;
    }
    .botones {
        display: flex;
        flex-wrap: wrap;
    }
    .boton-iz-contacto {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
@media screen and (min-width:460px) {
    .contenedor-contacto {
        height: 145vh;
    }
    .imagen-form img{
        width: 300px;
        height: 310px;
    }
}
@media screen and (min-width:536px) {
    .contenedor-contacto {
        height: 135vh;
    }
}
@media screen and (min-width:768px) {
    .imagen-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:992px) {
    .contenedor-contacto {
        height: 100vh;
    }
    .imagen-form img{
        width: 350px;
        height: 400px;
    }
}
@media screen and (min-width:1200px) {
    .contenedor-contacto {
        height: 83.9vh;
    }
    .titulo-contacto h1{
        font-size: 2rem;
    }
    .boton-iz-contacto img{
        width: 120px;
        height: 120px;
    }
    .nombres-de-formulario p {
        font-size: 2rem;
    }
    .imagen-form img{
        width: 400px;
        height: 450px;
    }
}
.contenedor-extra-info {
    height: 84.2vh;
}