@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.color-titulos, .nombres-de-formulario p, .titulo-contacto, .subtitulo-2, .subtitulo-1, .titulo-estudios, .texto-2-quiensoy, .titulo-quiensoy, .titulo-index {
  color: white;
}

.button, .button-index {
  padding: 20px 30px;
  font-size: 16px;
  border: none;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  background: #3b3b3b;
  border-radius: 5px;
  min-width: 200px;
  color: #fff;
  z-index: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0, 3s;
}
.button::before, .button-index::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -50px;
  width: 70%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4431372549), transparent);
  transition: all 1s;
  z-index: -1;
  transform: translateX(-120px) skew(-20deg);
}
.button:hover::before, .button-index:hover::before {
  transform: translateX(300px) skew(-20deg);
}
.button:hover, .button-index:hover {
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(133, 66, 79) 100%);
}

/*--        header                   --*/
.header {
  padding: 0;
}

.color {
  background-color: rgb(102, 62, 140);
}

/*--       gato header icono         --*/
.imagen-gato-header img {
  width: 95px;
  object-fit: contain;
  transition: all 0.4s;
}

.icon-gato:hover {
  transform: scale(1.1);
}

/*--         navbar           --*/
.navbar {
  background-color: rgba(86, 86, 180, 0.801);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar li a {
  font-family: "Bungee";
  text-decoration: none;
  color: white;
}

.navbar-ul li a:hover {
  color: rgb(208, 230, 17);
  transition: all 1s;
}

/*--           footer general            --*/
footer {
  background-color: black;
  height: 7.3vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
}

.footer-ul li {
  display: inline-block;
  padding: 10px 10px;
}
.footer-ul li a {
  text-decoration: none;
  color: white;
  font-family: "Bungee";
}
.footer-ul li a:hover {
  color: rgb(208, 230, 17);
  transition: all 1s;
}

@media screen and (min-width: 320px) {
  footer {
    font-size: 10px;
    height: 6.1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
  }
}
@media screen and (min-width: 600px) {
  footer {
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  footer ul li a {
    padding: 5px;
  }
}
@media screen and (min-width: 1204px) {
  footer {
    font-size: 0.8rem;
  }
}
/*--          index.html        --*/
.logotipo-index img {
  width: 250px;
  height: 250px;
}

.presentacion-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1.5fr;
}

.titulo-index {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 6rem;
  font-family: "Press Start 2P";
}

.parrafo-y-button-index {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5%;
  font-family: "Bungee";
  color: white;
  font-size: 1.1rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.parrafo-y-button-index span {
  color: rgb(208, 230, 17);
}
.parrafo-y-button-index a {
  text-decoration: none;
  color: white;
}

.button-index {
  border-radius: 50px;
}
.button-index:hover {
  background: rgb(122, 134, 14);
}

@media screen and (min-width: 320px) {
  .contenedor-index {
    height: 81.6vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 0.5fr;
  }
  .titulo-index {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo-index h1 {
    font-size: 2.5rem;
  }
  .logotipo-index {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .logotipo-index img {
    width: 120px;
    height: 120px;
  }
  .parrafo-y-button-index {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .titulo-index h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-index {
    height: 81.6vh;
    display: grid;
    grid-template-columns: 2.4fr 3fr 1fr;
    grid-template-rows: 1fr;
  }
  .logotipo-index {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .titulo-index {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .titulo-index h1 {
    font-size: 4.2rem;
  }
  .logotipo-index img {
    width: 150px;
    height: 150px;
  }
  .parrafo-y-button-index {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    text-align: start;
  }
}
@media screen and (min-width: 1204px) {
  .contenedor-index {
    height: 81.6vh;
  }
  .contenedor-index h1 {
    font-size: 5rem;
  }
  .titulo-index {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .logotipo-index img {
    width: 150px;
    height: 150px;
  }
  .parrafo-y-button-index {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1680px) {
  .contenedor-index {
    height: 83.9vh;
  }
  .contenedor-index h1 {
    font-size: 6rem;
  }
  .logotipo-index img {
    width: 200px;
    height: 200px;
  }
  .titulo-index {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
/*--      quiensoy.html     --*/
.contenedor-quiensoy {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "titulo" "foto" "presentacion" "musica" "presentacion2" "botones";
  height: 255vh;
  background-color: rgba(74, 39, 156, 0.445);
}

.titulo-quiensoy {
  grid-area: "titulo";
  padding-top: 10%;
  padding-bottom: 10%;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
}
.titulo-quiensoy h1 {
  font-size: 1.8rem;
}

.foto-mia {
  grid-area: "foto";
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.foto-mia img {
  width: 300px;
  height: 320px;
  object-fit: cover;
  border-radius: 2%;
  border: 10px solid rgba(0, 0, 0, 0.438);
  box-shadow: 10px 0px 0px 20px rgba(0, 0, 0, 0.336);
}

.texto-1-quiensoy, .texto-2-quiensoy, .video-youtube-cancion {
  grid-area: "presentacion";
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);
  border-radius: 10px;
  font-family: "Lemonada";
  color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: 2%;
  border: 10px solid rgba(0, 0, 0, 0.438);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
}
.texto-1-quiensoy span, .texto-2-quiensoy span, .video-youtube-cancion span {
  font-family: "Press Start 2P";
  font-size: 2.2rem;
  color: rgb(208, 230, 17);
}

.video-youtube-cancion {
  grid-area: "musica";
}
.video-youtube-cancion h2 {
  font-size: 1rem;
}
.video-youtube-cancion iframe {
  box-shadow: 10px 0px 0px 20px rgba(0, 0, 0, 0.336);
  object-fit: cover;
  height: 250px;
  width: 310px;
}

.texto-2-quiensoy {
  grid-area: "presentacion2";
  font-family: "Lemonada";
  text-align: center;
}
.texto-2-quiensoy span {
  font-family: "Lemonada";
  font-size: 1rem;
}

.dibujo-ww, .dibujo-rengoku {
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-radius: 5%;
  border-radius: 2%;
  box-shadow: 10px 0px 0px 20px rgba(0, 0, 0, 0.336);
}

.botones-next-quiensoy {
  grid-area: "botones";
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.boton-iz-quiensoy img {
  width: 90px;
  height: 90px;
}

.boton-der-quiensoy img {
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 620px) {
  .contenedor-quiensoy {
    height: 320vh;
  }
  .titulo-quiensoy h1 {
    font-size: 3rem;
  }
  .foto-mia img {
    width: 500px;
    height: 600px;
  }
  .video-youtube-cancion iframe {
    width: 600px;
    height: 650px;
  }
}
/*--      estudios.html      --*/
.contenedor-estudios {
  height: 82.1vh;
  display: grid;
  grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
  grid-template-rows: 1fr 1fr 4fr;
}

.titulo-estudios {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Press Start 2P";
}

.subtitulo-1 {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border: 10px groove rgba(127, 255, 212, 0.521);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
}

.subtitulo-2 {
  border: 10px groove rgba(127, 255, 212, 0.521);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5%;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.titulo-estudios h1 {
  border: 20px groove rgba(127, 255, 212, 0.521);
  border-radius: 50px;
}

.subtitulo-tabla-estudios {
  background-color: rgb(21, 57, 68);
  grid-column: 2/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Lemonada";
}

.lista-tabla-estudios {
  grid-column: 2/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lista-1 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border: 10px groove rgba(127, 255, 212, 0.521);
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  font-family: "Lemonada";
  padding: 10%;
}
.lista-1 ul li {
  list-style-type: "😺";
}

.lista-2 {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border: 10px groove rgba(127, 255, 212, 0.521);
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  font-family: "Lemonada";
  padding: 10%;
}
.lista-2 ul li {
  list-style-type: "😺";
}

.boton-iz-estudios {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5%;
}
.boton-iz-estudios img {
  width: 100px;
  height: 100px;
}

.boton-der-estudios {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5%;
}
.boton-der-estudios img {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 320px) {
  /*--      estudios.html      --*/
  .contenedor-estudios {
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.3fr 1fr;
  }
  .titulo-estudios {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .titulo-estudios h1 {
    font-size: 1.2rem;
  }
  .subtitulo-1 h2 {
    font-size: 1.3rem;
  }
  .subtitulo-2 h2 {
    font-size: 1.3rem;
  }
  .subtitulo-tabla-estudios {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lista-tabla-estudios {
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lista-1 {
    font-size: 0.6rem;
  }
  .lista-2 {
    font-size: 0.6rem;
    overflow: auto;
  }
  .boton-iz-estudios {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .boton-iz-estudios img {
    width: 80px;
    height: 80px;
  }
  .boton-der-estudios {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .boton-der-estudios img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 600px) {
  .titulo-estudios h1 {
    font-size: 1.8rem;
  }
  .lista-1 {
    font-size: 0.8rem;
  }
  .lista-2 {
    font-size: 0.8rem;
    overflow: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contenedor-estudios {
    height: 81.6vh;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 0.7fr 0.3fr;
  }
  .titulo-estudios {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .titulo-estudios h1 {
    font-size: 2.2rem;
  }
  .subtitulo-tabla-estudios {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lista-tabla-estudios {
    height: 360px;
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .boton-iz-estudios {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .boton-der-estudios {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media screen and (min-width: 1600px) {
  .contenedor-estudios {
    height: 84vh;
    display: grid;
    grid-template-rows: 0.4fr 0.4fr;
  }
  .subtitulo-tabla-estudios h2 {
    font-size: 1.5rem;
  }
  .lista-tabla-estudios {
    height: 400px;
  }
  .lista-tabla-estudios ul li {
    font-size: 1rem;
  }
  .lista-tabla-estudios p {
    font-size: 1rem;
  }
}
/*--       contacto.html      --*/
.contenedor-contacto {
  height: 83.9vh;
}

.contenedor-form {
  background: rgba(59, 59, 59, 0.3960784314);
  border-radius: 15px;
  box-shadow: 60px 30px 5px 0px rgba(0, 0, 0, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-contacto {
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  font-family: "Press Start 2P";
  font-size: 2rem;
}

.nombres-de-formulario p {
  font-size: 2rem;
  font-family: "Lemonada";
}

.nombres-de-formulario input {
  border: 5px rgb(190, 186, 186) solid;
  border-radius: 10px;
}

textarea {
  resize: none;
  border: 5px rgb(190, 186, 186) solid;
  border-radius: 10px;
}

.boton-iz-contacto {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .contenedor-contacto {
    height: 160vh;
  }
  .imagen-form img {
    width: 270px;
    height: 300px;
  }
  .titulo-contacto h1 {
    font-size: 1.4rem;
  }
  .nombres-de-formulario p {
    font-size: 1rem;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
  }
  .boton-iz-contacto {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 460px) {
  .contenedor-contacto {
    height: 145vh;
  }
  .imagen-form img {
    width: 300px;
    height: 310px;
  }
}
@media screen and (min-width: 536px) {
  .contenedor-contacto {
    height: 135vh;
  }
}
@media screen and (min-width: 768px) {
  .imagen-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-contacto {
    height: 100vh;
  }
  .imagen-form img {
    width: 350px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .contenedor-contacto {
    height: 83.9vh;
  }
  .titulo-contacto h1 {
    font-size: 2rem;
  }
  .boton-iz-contacto img {
    width: 120px;
    height: 120px;
  }
  .nombres-de-formulario p {
    font-size: 2rem;
  }
  .imagen-form img {
    width: 500px;
    height: 550px;
  }
}
.contenedor-extra-info {
  height: 84.2vh;
}

/*# sourceMappingURL=style.css.map */
