.contenedor__generalEstudios {
    height: 84vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.contenedor__misEstudios {
    grid-column: 2/3;
    background: #3b3b3b65;
    border-radius: 15px;
    box-shadow: 60px 30px 5px 0px rgba(0, 0, 0, 0.568);
    width: 1100px;
    height: 500px;
    .contenedor__gif {
        .gif__Estudios {
            border-radius: 50%;
            box-shadow: 0px 50px 5px 0px rgba(0, 0, 0, 0.568);
        }
    }
    .titulo-estudios {
        text-align: center;
        text-shadow: 10px 10px 10px rgb(0, 0, 0);
        @extend .color-titulos;
        font-family: map-get($font-family, "Titulos");
        h1 {
            font-size: 2.5rem;
        }
    }
    .contenedor__listas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .lista-1__titulo h2{
            font-family: map-get($font-family, "Textos");
            font-size: 1.8rem;
            text-shadow: 10px 10px 10px rgb(0, 0, 0);
            @extend .color-titulos;
        }
        .lista-1__icono {
            padding-left: 45%;
            font-size: 40px;
            color: rgb(208, 230, 17);
        }
        .lista-1__contenido {
            font-family: map-get($font-family, "Textos");
            color: rgba(0, 0, 0, 0.726);
            font-size: 13px;
            span {
                font-size: 20px;
                @extend .color-titulos;
            }
            ul {
                li {
                    white-space: pre-line;
                    @extend .color-titulos;
                    list-style-type: '😺';
                }
            }
        }
        .lista-2__contenido {
            @extend .lista-1__contenido;
            span {
                font-size: 15px;
                @extend .color-titulos;
            }
        }
        .lista-2__titulo h2{
            @extend .color-titulos;
            font-family: map-get($font-family, "Textos");
            font-size: 1.8rem;
            text-shadow: 10px 10px 10px rgb(0, 0, 0);
        }
        .lista-2__icono {
            @extend .lista-1__icono;
        }
    }
} 
//          botones de estudios.html          //
.boton-iz-estudios {
    grid-column: 1/2;
    @include D-Flex (flex-start , flex-end);
    padding: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
.boton-der-estudios {
    grid-column: 3/4;
    @include D-Flex (flex-end , flex-end);
    padding-right: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
