/*--          index.html        --*/
.contenedor-index {
    display: grid;
    grid-template-columns: 2.4fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.logotipo-index {
    @include D-Flex (end , center);
    img {
        width: 250px;
        height: 250px;
    }
}

.titulo-index {
    font-size: 6rem;
    font-family: map-get($font-family, "Titulos");
    @extend .color-titulos;
    @include D-Flex (flex-start , center);
}
//          botones de index.html          //
.boton-der-index {
    @include D-Flex (flex-end , flex-end);
    padding-right: 5%;
}

@media screen and (min-width:320px) {
    .contenedor-index {
        height: 81.6vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;
    }
    .titulo-index {
        @include D-Flex (center , center);
        h1 {
            font-size: 2.5rem;
        }
    }
    .logotipo-index {
        @include D-Flex (center , flex-end);
        img {
            width: 120px;
            height: 120px;
        }
    }
    .boton-der-index {
        @include D-Flex (flex-end , flex-end);
        padding-right: 2%;
        img {
            width: 70px;
            height: 70px;
        }
    }
}

@media screen and (min-width:600px) {
    .titulo-index {
        h1 {
            font-size: 3rem;
        }
    }
    .boton-der-index {
        img {
            width: 90px;
            height: 90px;
        }
    }
}

@media screen and (min-width:1140px) {
    .contenedor-index {
        height: 81.6vh;
        display: grid;
        grid-template-columns: 2.4fr 3fr 1fr;
        grid-template-rows: 1fr;
    }
    .titulo-index {
        display: flex;
        justify-content: flex-start;
    }
    .logotipo-index {
        @include D-Flex (flex-end , center);
    }
}

@media screen and (min-width:1204px) {
    .contenedor-index {
        height: 81.6vh;
        h1 {
            font-size: 5rem;
        }
    }
    .logotipo-index {
        img {
            width: 150px;
            height: 150px;
        }
    }
}

@media screen and (min-width:1680px) {
    .contenedor-index {
        height: 83.9vh;
        h1 {
            font-size: 6rem;
        }
    }
    .logotipo-index {
        img {
            width: 200px;
            height: 200px;
        }
    }
}