/*--      quiensoy.html     --*/
.contenedor-quiensoy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
                        "titulo"
                        "foto"
                        "presentacion"
                        "musica"
                        "presentacion2"
                        "botones";
    height: 255vh;
    background-color:  rgba(74, 39, 156, 0.445) ;
}
.titulo-quiensoy {
    grid-area: "titulo";
    padding-top: 10%;
    padding-bottom: 10%;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    @include D-Flex (center , center);
    h1 {
        font-size: 1.8rem;
    }
    font-family: map-get($font-family, "Titulos");
    @extend .color-titulos;
}
.foto-mia {
    grid-area: "foto";
    @include D-Flex (center , center);
    padding-bottom: 5%;
    img {
        width: 300px;
        height: 320px;
        object-fit: cover;
        border-radius: 2%;
        border: 10px solid rgba(0, 0, 0, 0.438);
        box-shadow: 10px 0px 0px 20px rgba(0, 0, 0, 0.336);
    }
}
.texto-1-quiensoy {
    grid-area: "presentacion";
    span {
        font-family: map-get($font-family, "Titulos");
        font-size: 2.2rem;
        color: rgb(208, 230, 17);
    }
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    font-family: map-get($font-family, "Textos");
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: 2%;
    border: 10px solid rgba(0, 0, 0, 0.438);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.336);
}
.video-youtube-cancion {
    grid-area: "musica";
    @extend .texto-1-quiensoy;
    h2{
        font-size: 1rem;
    }
    iframe {
        box-shadow: 10px 0px 0px 20px rgba(0, 0, 0, 0.336);
        object-fit: cover;
        height: 250px;
        width: 310px;
    }
}
.texto-2-quiensoy {
    grid-area: "presentacion2";
    @extend .texto-1-quiensoy;
    span {
        font-family: map-get($font-family, "Textos");
        font-size: 1rem;
    }
    font-family: map-get($font-family, "Textos");
    @extend .color-titulos;
    text-align: center;
}
.dibujo-ww {
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%;
    border-radius: 2%;
    box-shadow: 10px 0px 0px 20px rgba(0, 0, 0, 0.336);
}
.dibujo-rengoku {
    @extend .dibujo-ww;
}
//          botones de quiensoy.html          //
.botones-next-quiensoy {
    grid-area: "botones";
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.boton-iz-quiensoy {
    img {
        width: 90px;
        height: 90px;
    }
}
.boton-der-quiensoy {
    img {
        width: 90px;
        height: 90px;
    }
}
@media screen and (min-width:620px) {
    .contenedor-quiensoy {
        height: 320vh;
    }
    .titulo-quiensoy {
        h1 {
            font-size: 3rem;
        }
    }
    .foto-mia {
        img {
            width: 500px;
            height: 600px;
        }
    }
    .video-youtube-cancion {
        iframe {
            width: 600px;
            height: 650px;
        }
    }
}