.button {
    input {
        font-family: map-get($font-family, "Textos");
        @extend .color-titulos;
        background-color: #3f3f3f8a;
        border: none;
        border-radius: 25%;
    }
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3b3b3b;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0, 3s;
    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: -50px;
        width: 70%;
        height: 100%;
        background: linear-gradient(90deg, transparent, #ffffff71, transparent);
        transition: all 1s;
        z-index: -1;
        transform: translateX(-120px) skew(-20deg);
    }
    &:hover::before {
        transform: translateX(300px) skew(-20deg);
    }
    &:hover {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(133, 66, 79, 1) 100%);
    }
}