//          botones de index.html          //
.boton-der-index {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
    img {
        width: 150px;
        height: 150px;
    }
}
//          botones de quiensoy.html          //
.boton-iz-quiensoy {
    grid-column: 1/2;
    grid-row: 1/5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
.boton-der-quiensoy {
    grid-column: 5/6;
    grid-row: 1/5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
//          botones de estudios.html          //
.boton-iz-estudios {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
.boton-der-estudios {
    grid-column: 4/5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
    img {
        width: 100px;
        height: 100px;
    }
}
//          botones de contacto.html          //
.boton-iz-contacto {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button {
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3b3b3b;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0, 3s;
    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: -50px;
        width: 70%;
        height: 100%;
        background: linear-gradient(90deg, transparent, #ffffff71, transparent);
        transition: all 1s;
        z-index: -1;
        transform: translateX(-120px) skew(-20deg);
    }
    &:hover::before {
        transform: translateX(300px) skew(-20deg);
    }
    &:hover {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(133, 66, 79, 1) 100%);
    }
}